{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 2%"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
